

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;      
    background-color: gray;
}

.amarelo {
    background-color: #fcc506 !important;
}

.texto-preto {
    color:rgb(41, 41, 41) !important
}

.texto-branco {
    color: #fff !important;
}

.texto-amarelo {
    color: #fcc506 !important;
}

.form-control:focus {
    border-color:#fcc506 !important
}

.btn-primary:hover {
    background-color: #fcc506;
    border-color: #fcc506;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-left: -25px;
}
   
   .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    margin-right: -25px;
}

.form-control:focus {
    transform: scale(1.0125);
    transition: 125ms ease-in-out
}

#myCarousel {
margin-left: 50px;
margin-right: 50px;
}

.form-control {
    margin-bottom: 1rem;
}

.card img {
    height: 160px;
}

.card p {
    margin-bottom: 0rem;
}

body {
    position:relative;
    background-color: rgb(41, 41, 41) !important;
    
    min-height: 100vh;
}

main {
    padding-bottom: 3rem;
}



main .alert {
    position:fixed;
    width: 50%;
    top: 50%;
    left: 25%;
    padding: 10px;
}

.alert {
      z-index: 9999;
}

table {
    background-color: rgb(41, 41, 41) !important;
    overflow:hidden;
    border-collapse:separate !important;
    overflow: hidden;
    border-spacing: 0;
}


td, th, tr {
    border: solid 1px #000 !important; 
}
tr:first-child th:first-child { border-top-left-radius: 10px !important; border-bottom-left-radius: 10px !important;}
tr:first-child th:last-child { border-top-right-radius: 10px !important; border-bottom-right-radius: 10px !important;}
tr:first-child td:first-child { border-top-left-radius: 10px !important; }
tr:first-child td:last-child { border-top-right-radius: 10px !important; }
tr:last-child td:first-child { border-bottom-left-radius: 10px !important; }
tr:last-child td:last-child { border-bottom-right-radius: 10px !important; }

td {
    color:#fcc506 !important;
}
 
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-primary {
    border-color: #fcc506 !important;
}

.btn-primary:hover {
    background-color: #cca107 !important;
    border-color: #cca107 !important;
}

.pagination .active {
    background-color: #fcc506 !important;
}